.marker-cluster-single {
  background-color: rgb(60, 138, 202);
}

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  display: flex;
  justify-content: center;

  text-align: center;
  border-radius: 15px;
  font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.marker-cluster span {
  line-height: 30px;
  white-space: nowrap;
}

.marker-duplicate {
  // border-radius: 20px;
  //background-clip: padding-box;
  cursor: pointer !important;
}

.marker-duplicate div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  display: flex;
  justify-content: center;

  text-align: center;
  border-radius: 15px;
  font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.marker-duplicate span {
  line-height: 30px;
  white-space: nowrap;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.leaflet-interactive {
  cursor: grab;
}

#vis-control {
  z-index: 999;
  position: absolute;
  width: 300px;
  top: 10px;
  left: 10px;
  max-height: calc(100vh - 20px);
  overflow: auto;
  padding: 20px;
  opacity: 0.95;
}

.right-panel-group {
  z-index: 999;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 450px;
}

#chart-container {
  z-index: 999;
  overflow: auto;
  padding: 20px;
  opacity: 0.95;
}

#stats-panel {
  opacity: 0.95;
  font-size: 0.9rem;
}

.bottom-panel-group {
  z-index: 999;
  position: absolute;
  bottom: 10px;
  right: 470px;
}

#query-info-panel {
  width: 220px;
  opacity: 0.95;
  font-size: 0.5rem;
}

#query-info-panel.expanded {
  width: 600px;
}

.field-stats.ui.statistics .statistic > .value {
  font-size: 0.9rem !important;
}

.field-stats.ui.statistics .statistic > .label {
  font-size: 0.7rem !important;
}

.query-stats.ui.statistics .statistic > .value {
  font-size: 0.9rem !important;
}

.query-stats.ui.statistics .statistic > .label {
  font-size: 0.7rem !important;
}

/* Multiple progress bar */
/* Multiple */
.ui.multiple.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;

  .bar {
    border-radius: 0rem;
  }

  .label {
    font-size: 0.85rem;
  }
}

.dup-item {
  color: green;
}

.dup-item.active {
  color: red;
}

.x-button {
  float: right;
  right: 10px;
  cursor: pointer;
  top: -28px;
  position: relative;
}

.column-value-chart-title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 10px;
  font-weight: 600;
  text-align: center;
}

.cluster-title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: solid black 1px;
  margin-bottom: 5px;
}
